/* Links */
/* Common */
/* Form */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  box-sizing: inherit;
}
*::before {
  box-sizing: border-box;
  box-sizing: inherit;
}
*::after {
  box-sizing: border-box;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

aside {
  display: block;
}

nav {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

section {
  display: block;
}

main {
  display: block;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

h2 {
  font-size: inherit;
  font-weight: inherit;
}

h3 {
  font-size: inherit;
  font-weight: inherit;
}

h4 {
  font-size: inherit;
  font-weight: inherit;
}

h5 {
  font-size: inherit;
  font-weight: inherit;
}

h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}
ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
input::-ms-clear {
  display: none;
}
input:focus {
  outline: none;
}
input:active {
  outline: none;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:active {
  outline: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 6;
  min-height: 75px;
  top: 0px;
  left: 0px;
  background-color: rgb(34, 34, 34);
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper_promo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -ms-flex-align: center;
}
.wrapper_promo .promo_img {
  display: flex;
  align-items: flex-end;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.header_check {
  position: relative;
  display: block;
  cursor: pointer;
  content: "";
  box-sizing: border-box;
}

.header__checkbox {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}
.header__checkbox:checked ~ .mobile-menu {
  right: 0;
}

.mobile-menu {
  position: absolute;
  top: 75px;
  right: -232px;
  z-index: 1;
  transition: right 0.6s;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
}

.mobile-menu__link-site {
  align-items: center;
  justify-content: space-around;
  background-color: #e8e8e8;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: none;
}

.mobile-menu__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.mobile-menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.mobile-menu__link:hover {
  color: #F16D7F;
}

.mobile-menu__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.mobile-menu__list {
  list-style-type: none;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 12px;
}

.mobile-menu__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.menu__btn {
  padding-right: 25px;
}
.menu__btn > span {
  display: block;
  position: absolute;
  width: 32px;
  height: 3px;
  background-color: #e8e8e8;
  transition-duration: 0.25s;
  margin-top: -5px;
  padding-right: 10px;
}
.menu__btn > span::before {
  display: block;
  position: absolute;
  width: 32px;
  height: 3px;
  background-color: #e8e8e8;
  transition-duration: 0.25s;
  content: "";
  top: -10px;
}
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 32px;
  height: 3px;
  background-color: #e8e8e8;
  transition-duration: 0.25s;
  content: "";
  top: 10px;
}

.menu__box {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 75px;
  right: -200%;
  width: 232px;
  height: 634px;
  margin: 0;
  padding-top: 32px;
  padding-left: 33px;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 10;
}
.menu__box .menu_tag {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-top: 20px;
}

.menu_heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #197e14;
}

.menu__item {
  display: block;
  padding-left: 20px;
  padding-top: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  transition-duration: 0.25s;
}

.promo {
  display: flex;
  background: #F1E4E6;
  margin: 0 auto;
  padding: 0 0px;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 75px;
}
.promo:hover {
  background-color: rgba(244, 4, 4, 0.2509803922);
}

.promo_info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 290px;
  margin-bottom: 381px;
}

.promo_title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo_content {
  padding-left: 64px;
  align-items: center;
}

.h2pink {
  color: #f16d7f;
}

.offer {
  display: grid;
  max-width: 1140px;
  margin: 0 auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}

.offer_tab {
  position: relative;
  overflow: hidden;
}
.offer_tab:hover {
  transform: scale(1.05);
}

.offer_tab_sm {
  grid-column: span 2;
}

.offer_tab_lg {
  height: 180px;
  grid-column: span 6;
}

.sale_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(33, 22, 22, 0.7);
}

.sale_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.product_box {
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
}
.product_box__pages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 48px;
  gap: 18px;
  border: solid 1px #ebebeb;
  border-radius: 5px;
  padding: 15px 16px;
  align-self: center;
}
.product_box__pages__arrows:hover path {
  fill: #F16D7F;
}
.product_box__pages__link-box {
  display: flex;
  gap: 18px;
}
.product_box__pages__link-box__link {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
}
.product_box__pages__link-box__link:hover {
  color: #F16D7F;
}

.product_box_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.product_box_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}

.product_box_content {
  margin-top: 48px;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
  align-self: center;
}

.product {
  position: relative;
}
.product:hover .product_img {
  filter: brightness(0.5);
}
.product:hover .product_add {
  display: flex;
}
.product_img {
  width: 100%;
}
.product_add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}
.product_add:hover {
  box-shadow: 0 0 5px #fff;
}
.product_add:hover svg path {
  fill: #F16D7F;
}
.product_content {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}
.product_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}
.product_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.product_price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product_button {
  border: 1px solid #FF6A6A;
  width: 212px;
  height: 48px;
  margin-top: 48.5px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.product_button:hover {
  background: #FF6A6A;
}
.product_button:focus {
  background: #FF6A6A;
}
.product_button:active {
  background: #FF6A6A;
}

.all_product_text {
  color: #FF6A6A;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 212px;
  height: 48px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all_product_text:hover {
  color: #fff;
}
.all_product_text:focus {
  color: #fff;
}
.all_product_text:active {
  color: #fff;
}

.advantages {
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #222224;
  display: flex;
  -webkit-box-orient: horizontal;
  justify-content: center;
  gap: 30px;
}

.advantages_item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.advantages_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  height: 448px;
  background-image: url(/img/Layer41.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub_fon {
  background: rgba(244, 244, 244, 0.7);
  height: 100%;
}

.sub_content {
  display: -ms-flexbox;
  display: grid;
  -webkit-box-orient: horizontal;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: auto;
  max-width: 1140px;
}

.sub_item_left {
  margin-top: 97px;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 359px;
}

.sub_item_right {
  margin-top: 150px;
  grid-column: 3;
}

.sub_img_left {
  margin-bottom: 30px;
}

.subscribe_text {
  color: #222224;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.subscribe_text_head {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  color: #222224;
}

.subscribe_text_lower {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.content {
  width: 360px;
  height: 40px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 60px;
  overflow: hidden;
}

.subscription {
  position: relative;
  width: 100%;
  height: 100%;
}
.subscription .add-email {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
  background: #E1E1E1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.subscription .submit-email {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2px);
  width: 100px;
  border: none;
  border-radius: 0px 60px 60px 0px;
  outline: none;
  margin: 1px;
  padding: 0 20px;
  cursor: pointer;
  background: #E05C6E;
  color: #FFFFFF;
  transition: width 0.35s ease-in-out, background 0.35s ease-in-out;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.subscription .submit-email .before-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 38px;
  transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out;
}
.subscription .submit-email .after-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 38px;
  transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out;
  transition-delay: 0.35s;
}
.subscription:not(.done) .submit-email .after-submit {
  visibility: hidden;
  opacity: 0;
}
.subscription:not(.done) .submit-email .before-submit {
  visibility: visible;
  opacity: 1;
}

.subscription.done .submit-email .before-submit {
  visibility: hidden;
  opacity: 0;
}
.subscription.done .submit-email .after-submit {
  visibility: visible;
  opacity: 1;
}

.fonts {
  background: #222224;
}

.footer_navbar {
  max-width: 1140px;
  height: 79px;
  margin: 0 auto;
  align-items: center;
  background: #222224;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer_navbar p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer_navbar_icons {
  width: 148px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}
.footer_navbar_icons a {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.fa {
  width: 31px;
  height: 32px;
  background: #FFFFFF;
  color: #000000;
}
.fa:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.head {
  min-height: 148px;
  background: #F8F3F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 76px;
}
.head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb {
  display: flex;
}
.breadcrumb__box-link:last-child .breadcrumb__link {
  font-weight: 700;
  color: #F16D7F;
}
.breadcrumb__box-link:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumb__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumb__link:hover {
  color: #F16D7F;
}

.filter-sort {
  padding-top: 39px;
  position: relative;
  z-index: 1;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: white;
  padding: 0px 16px 16px;
}
.filter[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__item {
  margin-top: 16px;
}
.filter__head {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}

.sorting {
  display: flex;
  gap: 18px;
}
.sorting__details {
  position: relative;
}
.sorting__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sorting__check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.sorting__check {
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.sorting__heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.sorting__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: white;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}

.slider {
  height: 777px;
  position: relative;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__arrow {
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  position: absolute;
  top: 365px;
}
.slider__arrow:hover path {
  fill: #F16D7F;
}
.slider__arrow_left {
  left: 0;
}
.slider__arrow_right {
  right: 0;
}

.slider-info {
  position: relative;
  margin: -65px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  height: 600px;
  border-color: #EAEAEA;
  background: #FFF;
  border: solid 1px #ebebeb;
  padding: 64px 0;
  margin-bottom: 80px;
}
.slider-info__heading {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 12px;
}
.slider-info__line {
  width: 63px;
  height: 3.025px;
  background-color: #F16D7F;
  margin-bottom: 12px;
}
.slider-info__title {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
}
.slider-info__text {
  max-width: 555px;
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 32px;
}
.slider-info__price {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 130px;
}
.slider-info__button {
  margin-top: 48px;
  width: 212px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F16D7F;
  line-height: 19px;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  transition: all 1s;
}
.slider-info__button:hover {
  background-color: #F16D7F;
  border-color: #FFF;
  line-height: 19px;
  color: #FFF;
}

.cart {
  display: flex;
}
.cart_left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 8%;
  padding-top: 96px;
}
.cart_left_product {
  display: flex;
  flex-direction: row;
}
.cart_left_product_img {
  max-width: 262px;
}
.cart_left_product_info {
  padding: 22px 31px 62px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart_left_product_info_title {
  max-width: 262px;
  color: #222;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 42px;
}
.cart_left_product_info_text {
  color: #575757;
  font-size: 22px;
  font-weight: 400;
}
.cart_left_product_info_text1::after {
  content: "$300";
  color: #F16D7F;
  padding-left: 6px;
}
.cart_left_product_info_text2::after {
  content: "Red";
  color: #6F6E6E;
  padding-left: 6px;
}
.cart_left_product_info_text3::after {
  content: "Xl";
  color: #6F6E6E;
  padding-left: 6px;
}
.cart_left_product_info_text4::after {
  content: "2";
  color: #656565;
  font-size: 18px;
  padding-left: 40px;
}
.cart_left_buttons {
  margin-top: 72px;
  margin-bottom: 128px;
  max-width: 652px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.cart_left_buttons_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 50px;
  border: 1px solid #A4A4A4;
  color: #000;
  font-size: 14px;
  font-weight: 300;
}
.cart_left_buttons_link:hover {
  border: 1px solid #F16D7F;
  color: #F16D7F;
}
.cart_right {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
}
.cart_right_form {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 57px;
  margin-top: 17px;
}
.cart_right_form_title {
  color: #222;
  font-size: 16px;
  font-weight: 300;
}
.cart_right_form_input {
  width: 358.986px;
  height: 44px;
  color: #222;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid #A4A4A4;
}
.cart_right_form_input[type=text] {
  padding: 17px;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}
.cart_right_form_submit {
  width: 101.408px;
  height: 35px;
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 300;
  border: 1px solid #A4A4A4;
}
.cart_right_final {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart_right_final_sub {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
  margin-right: 34px;
  margin-bottom: 12px;
}
.cart_right_final_sub::after {
  content: "$900";
  padding-left: 20px;
}
.cart_right_final_grand {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  margin-right: 37px;
  margin-bottom: 39px;
}
.cart_right_final_grand::after {
  content: "$900";
  padding-left: 20px;
  font-weight: 700;
  color: #F16D7F;
}
.cart_right_box-button {
  max-width: 360px;
  display: flex;
  justify-content: center;
}
.cart_right_button {
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
}
.cart_right_button:hover {
  background-color: #FFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 768px;
    margin: 0 auto;
  }
  .header {
    min-height: 75px;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: 0.2s linear;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header_wrapper {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 0px;
  }
  .top_container {
    width: 768px;
  }
  .wrapper_promo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .wrapper_promo .promo_img {
    display: flex;
    align-items: flex-end;
    height: 368px;
    width: 386px;
  }
  .promo {
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  .promo_info {
    margin-top: 138px;
    margin-bottom: 138px;
    margin-right: 33px;
  }
  .promo_title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 52.8px;
    color: #222222;
  }
  .promo_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: #222222;
  }
  .promo_content {
    padding-left: 39px;
  }
  .offer {
    display: grid;
    -moz-column-gap: 19.9px;
         column-gap: 19.9px;
    row-gap: 19.9px;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 64.95px;
    padding-bottom: 109.92px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .offer_tab_sm {
    grid-column: span 2;
  }
  .offer_tab_lg {
    height: 120px;
    grid-column: span 6;
  }
  .product_box_content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .product_button {
    width: 212px;
    height: 48px;
    display: flex;
    justify-self: center;
    margin-top: 32px;
  }
  .product_box {
    padding-bottom: 70.52px;
  }
  .advantages {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .subscribe {
    height: 693px;
  }
  .sub_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sub_item_left {
    margin-top: 64px;
  }
  .sub_item_right {
    margin-top: 48px;
  }
  .footer_navbar {
    margin: 0 32px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    margin: 0 auto;
  }
  .user {
    display: none;
  }
  .cart {
    display: none;
  }
  .header {
    min-height: 75px;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: 0.2s linear;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header_wrapper {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 0px;
  }
  .top_container {
    width: 768px;
  }
  .wrapper_promo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .wrapper_promo .promo_img {
    display: none;
  }
  .promo {
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  .promo_info {
    margin-top: 138px;
    margin-bottom: 138px;
    margin-right: 33px;
  }
  .promo_title {
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 45px;
    color: #222222;
  }
  .promo_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
  }
  .promo_content {
    padding-left: 0px;
  }
  .offer {
    display: grid;
    -moz-column-gap: 19.9px;
         column-gap: 19.9px;
    row-gap: 19.9px;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 64.95px;
    padding-bottom: 109.92px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .offer_tab {
    height: 248px;
  }
  .lg_767 {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .llg_767 {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .offer_tab_sm {
    grid-column: span 6;
  }
  .offer_tab_lg {
    height: 120px;
    grid-column: span 6;
  }
  .product_box_content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .product_button {
    width: 212px;
    height: 48px;
    display: flex;
    justify-self: center;
    margin-top: 40px;
    grid-area: b;
  }
  .product_box {
    padding-bottom: 70.52px;
  }
  .product {
    grid-column: span 2;
  }
  .subscribe {
    height: 550px;
  }
  .footer_navbar {
    height: 143px;
    margin: 0 auto;
    align-items: center;
    background: #222224;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding-top: 43px;
  }
  .menu__box {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 75px;
    right: -200%;
    width: 192px;
    height: 558px;
    margin: 0;
    padding-top: 10px;
    padding-left: 21px;
    list-style: none;
  }
  .menu__item {
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    transition-duration: 0.25s;
  }
}/*# sourceMappingURL=style.css.map */